[Unit]
Description=Guiver - Home Automation Server
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
User={{USER}}
WorkingDirectory={{REMOTE_PATH}}
ExecStart={{NPM_PATH}} start
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
